<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="To_do_List.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="To_do_List.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <To_do_List.Settings>
            <setting name="MWndWidth" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="MWndHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MWndIsNormal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MWndLeft" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="MWndTop" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>340</value>
            </setting>
        </To_do_List.Settings>
    </userSettings>
    <applicationSettings>
        <To_do_List.Settings>
            <setting name="Author" serializeAs="String">
                <value>Liu_Hantao_https://github.com/LHTXQ</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>待办清单</value>
            </setting>
        </To_do_List.Settings>
    </applicationSettings>
</configuration>
